version: "3.9"

services:
  knowledge_base:
    build: .
    image: kimiahr/knowledgebase_athletes_performance_prediction
    volumes:
      - ai_system:/tmp
    command:
      - sh
      - "-c"
      - |
        rm -rf /tmp/knowledgeBase && cp -r /knowledgeBase /tmp/
    stdin_open: true
    tty: true

volumes:
  ai_system:
    external: true
