version: "3.9"

services:

  # knowledge Base container
  knowledge_base:
    image: kimiahr/knowledgebase_athletes_performance_prediction
    volumes:
      - ai_system:/tmp
    command:
      - sh
      - "-c"
      - |
        rm -rf /tmp/knowledgease && cp -r /knowledgeBase /tmp/


  # Activation Base container
  activation_base:
    image: kimiahr/activationbase_athletes_performance_prediction
    volumes:
      - ai_system:/tmp
    command:
      - sh
      - "-c"
      - |
        rm -rf /tmp/activationBase && cp -r /activationBase /tmp/


  # Code Base container
  code_base:
    user: root
    image: kimiahr/codebase_athletes_performance_prediction
    depends_on:
      - "knowledge_base"
      - "activation_base"
    volumes:
      - ai_system:/tmp
    command:
      - sh
      - "-c"
      - |
        rm -rf /tmp/codeBase && cp -r /codeBase /tmp/
        python /tmp/codeBase/apply_ols.py
        tail -f /dev/null
        "


volumes:
  ai_system:
    external: true
